# Python
*.pyc
.eggs/
webassets_elm.egg-info/
build/
dist/

# Elm
elm-stuff/
node_modules/

# Python third-party packages
.coverage
.python-version
.tox
cover/

# OS, IDE & editor
.DS_Store
.ropeproject/
