dist: xenial  # support for Python >= 3.7
language: python
python:
  - 3.5
  - 3.6
  - 3.7

matrix:
  include:
    - python: "3.7"
      env: TOXENV=cover
    - python: "3.7"
      env: TOXENV=black

install:
  - npm i -g elm
  - pip install tox-travis

script:
  - tox

after_success:
  - coveralls
